*.Plo
*.kate-swp
*.kdev4
*.la
*.lo
*.log
*.o
*.orig
*.rej
*.test
*.trs
*.was
*.was-*
*~
.deps
.dirstamp
.libs
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config-aux
/config.h
config.h.in
config.status
configure
configure.scan
libtool
stamp-h1
*.swp
**cscope.out
