[submodule "common"]
	path = common
	url = https://pm.bsc.es/gitlab/nanos6/nanos6-common.git
[submodule "tests/directive_based"]
	path = tests/directive_based
	url = https://pm.bsc.es/gitlab/nanos6/nanos6-tests.git
	branch = linear-regions
[submodule "src/instrument/public"]
	path = src/instrument/public
	url = https://pm.bsc.es/gitlab/nanos6/public-instrumentation.git
	branch = master
