[submodule "common"]
	path = common
	url = https://pm.bsc.es/gitlab/nanos6/nanos6-common.git
	branch = master
[submodule "tests/directive_based"]
	path = tests/directive_based
	url = https://pm.bsc.es/gitlab/nanos6/nanos6-tests.git
	branch = linear-regions
