*.Plo
*.in
*.kdev4
*.la
*.lo
*.log
*.o
*.test
*.trs
*~
.deps
.dirstamp
.libs
INSTALL
Makefile
aclocal.m4
autom4te.cache
config-aux
config.h
config.status
configure
configure.scan
libtool
simpless-*.*
stamp-h1
